.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    padding: 48px 0 0;
    box-shadow: inset -1px 0 0 rgb(0 0 0 / 10%);
}

.rightbar {
    position:fixed;
    margin-right:0px;
}

.leftLine {
    box-shadow: inset 1px 0 0 rgb(0 0 0 / 10%)
}

.close
{
    border: 0;
    background-color: transparent;
    float: right;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .5;
}

.genTableHeader
{
    width: 10.5rem;
}

a.nav-link.active {
    background-color: #0a58ca;
    color: white;
}

.linkButton {
    border: none;
    color: #0d6efd;
    text-decoration: underline;
    background-color: transparent;
}

#importexporttextarea
{
    width: 100%;
    height: 300px;
}

#importexporttextarea[readonly] {
    background-color: #eee;
}